*{
  font-family: 'Roboto';
  box-sizing: border-box;
}

.btn{
  text-decoration: none;
  color: white;
  padding: 12px 9px;
  border-radius: 25px;
  font-weight: 600;
  background-color: rgb(62, 62, 161);
}
.btn:hover{
  background-color: rgba(62, 62, 161, 0.507);
}
.btn-edit{
  font-size: 18px;
  width: 100%;
  text-decoration: none;
  color: white;
  padding: 3px 10px;
  border-radius: 3px;
  background-color: rgb(5, 119, 5);
  cursor: pointer;
}

.btn-edit:hover{
  background-color: rgba(5, 119, 5, 0.8);
}

.btn-delete{
  font-size: 18px;
  cursor:pointer;
  width: 100%;
  background-color: rgb(252, 97, 97);
  border: none;
  outline: none;
  color: white;
  border-radius: 3px;
  padding: 3px 6px;
  margin-top: 5px;
}

.btn-delete:hover{
  background-color: rgba(255, 0, 0, 0.8);
}

.table:hover{
  background-color: #7575753b;
  
}
.User{
  text-transform: capitalize;
}
.Userrole{
  text-transform: uppercase;
}

.skills{
  text-transform: capitalize
}
p.MuiTypography-root.MuiTypography-body1.css-ahj2mt-MuiTypography-root {
  BACKGROUND-COLOR: #1976d2;
  border-bottom: 50px;

}
.table>:not(caption)>*>* {
  padding: -0.5rem .5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
#paneltitle{
  margin-bottom: 5px;
}
#search{
  height: 2px;
}
#box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    border-radius: 1;
    margin-top: 5;
    margin-right: 11;

}
#btn{
  margin-right: 100px;
  margin-left: 4px;
  margin-bottom: 3px;
}

@media(max-width: 415px) {
  #paneltitle{
    color: white;
    font-size: 25px;
    text-align: center;
  }
  #btn{
  
    margin-right: 13px;
    margin-bottom: 10px;
  }
  #search{
    width: 150%;
    margin-right: 2px;
    margin-left: 2px;
    
  }
  #magni{
    width: 10%;
  }
  #container{
    margin-left: 40px;
    width: 90%;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  justify-content: space-between;
}

.flex-item-left {
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  padding: 10px;
  flex: 50%;
}

.card-img-top{
  width:600px;
  height:400px;
  marginTop: 4%; 
  marginLeft: 5%;
}


@media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
  .card-img-top{
    display: none;
  }
  .logIn-card{
    margin-top: 20%;
  }
}
